{{#partial 'content'}}
    <div class="row">
    <div class="col-md-6">
    <div class="bagone">
        <h1 class="light">CURRENT SIGHTINGS</h1>
    </div>
    {{#if sightings}}
        {{#each sightings }}
            <div class="sight" style="margin: 20px;">
                <p style="font-family:san Serif; padding:10px; font-size:18px;">Sighting by:{{rangerName}} At:{{location}}-
                    <span class="btn btn-warning" style="float: right;"><a style="color: white;" href="/animals/{{animalId}}/sightings/{{id}}">Details</a></span>
                </p>

            </div>
        {{/each}}
    {{else}}
        <p>No sightings yet!</p>
    {{/if}}
    </div>
    </div>

{{/partial}}

{{> layout.hbs}}